<template>
    <div class="overview">
      <div class="container h-100">
          <div class="intro h-100">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-md-6">
                 <h3>Selamat Datang</h3>
                 <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <!-- <h5 class="card-title">Jwt Token</h5> -->
                      <h6 class="card-subtitle mb-2 text-muted">Your Token :</h6>
                      <p class="card-text">{{token}}</p>
                      <h6 class="card-subtitle mb-2 text-muted">PAYLOAD :</h6>
                      <p class="card-text">{{payload}}</p>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <img src="./image/overview.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
      </div>
    </div>
</template>

<script>
import '@/assets/dashboard.css';

export default {
  name: "overview",
  props: {
    msg: String
  },
  computed:{
    token(){
      return this.$store.getters.loggedIn
    },
    payload(){
      return this.$jwt.decode(this.token)
    }
  }
};
</script>