<template>
    <div class="products">
    <div class="container">
          
      <div class="intro h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-md-6">
              <h3>Tabel Page</h3>
              <p>
                Indikator Keluarga Sehat
                Pusat Data dan Informasi
                Kementerian Kesehatan Republik Indonesia
              </p>
          </div>
          <div class="col-md-6">
              <img src="./image/products.svg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <hr>
      <h3 class="d-inline-block">Rekapitulasi IKS</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="" v-if="provinsi" v-show="this.data.show" aria-current="page"><a href="">{{}} &nbsp; </a></li>
          <li class="" v-else-if="kota" v-show="this.data.show" aria-current="page"><a href="">/&nbsp;{{}}&nbsp;</a></li>
          <li class="" v-else-if="kecamatan" v-show="this.data.show" aria-current="page"><a href="">/&nbsp;{{}}&nbsp;</a></li>
        </ol>
      </nav>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th v-if="provinsi" scope="col">Provinsi</th>
            <th v-else-if="kota" scope="col">Kota/Kabupaten</th>
            <th v-else-if="kecamatan" scope="col">Kecamatan</th>
            <th scope="col">Keluarga mengikuti program Keluarga Berencana (%)</th>
            <th scope="col">Ibu melakukan persalinan di fasilitas kesehatan (%)</th>
            <th scope="col">Bayi mendapat imunisasi dasar lengkap (%)</th>
            <th scope="col">Bayi mendapat air susu ibu (ASI) eksklusif (%)</th>
            <th scope="col">Balita mendapatkan pematauan pertumbuhan (%)</th>
            <th scope="col" class="center">Penderita tuberkulosis paru mendapatkan pengobatan sesuai standar (%)</th>
            <th scope="col">Penderita hipertensi melakukan pengobatan secara teratur (%)</th>
            <th scope="col">Penderita gangguan jiwa mendapatkan pengobatan dan tidak ditelantarkan (%)</th>
            <th scope="col">Anggota keluarga tidak ada yang merokok (%)</th>
            <th scope="col">Keluarga sudah menjadi anggota Jaminan Kesehatan Nasional (JKN) (%)</th>
            <th scope="col">Keluarga mempunyai akses sarana air bersih (%)</th>
            <th scope="col">Keluarga mempunyai akses atau menggunakan jamban sehat (%)</th>
            <th scope="col">IKS</th>
          </tr>
        </thead>
        <tbody v-for="(tabel,index) in GetAll" :key="tabel.id">
          <tr>
            <td>{{index+1}}</td>
            <td v-if="provinsi"><button class="btn btn-primary" @click="GetProvinsi(tabel)">{{tabel.nama_provinsi}}</button></td>
            <td v-else-if="kota"><button class="btn btn-primary" @click="GetKota(tabel)">{{tabel.nama_kota}}</button></td>
            <td v-else-if="kecamatan">{{tabel.nama_kecamatan}}</td>
            <td>{{tabel.prosentase_id_1}}</td>
            <td>{{tabel.prosentase_id_2}}</td>
            <td>{{tabel.prosentase_id_3}}</td>
            <td>{{tabel.prosentase_id_4}}</td>
            <td>{{tabel.prosentase_id_5}}</td>
            <td>{{tabel.prosentase_id_6}}</td>
            <td>{{tabel.prosentase_id_7}}</td>
            <td>{{tabel.prosentase_id_8}}</td>
            <td>{{tabel.prosentase_id_9}}</td>
            <td>{{tabel.prosentase_id_10}}</td>
            <td>{{tabel.prosentase_id_11}}</td>
            <td>{{tabel.prosentase_id_12}}</td>
            <td>{{tabel.iks_inti}}</td>
          </tr>
        </tbody>
      </table>
    </div>

   
  </div>
</template>
<script>
export default {
  data(){
    return{
      data:[{
        text:'',
        show:''
      }],
      provinsi: false,
      kota: false,
      kecamatan: false,
    }
  },
  created() {
    this.$store.dispatch('retrieveData')
    this.data.text = this.$store.getters.isi
    this.data.show = true
    this.provinsi = true
  },
  computed:{
    GetAll(){
      return this.$store.getters.isi
    },
  },
  watch:{
    GetAll(value){
      // console.log(value)
    }
  },
  methods: {
    GetProvinsi(e){
      const kodeprov = e.kode
      this.$store.dispatch('retrieveProvinsi', kodeprov)
      this.kota = true
      this.provinsi = false
    },
    GetKota(e){
      const kodekota = e.kota
      const kodeprov = e.provinsi
      this.$store.dispatch('retrieveKota', {
        provinsi:kodeprov,
        kota:kodekota
      })
      this.kecamatan = true
      this.kota = false
      this.provinsi = false
    },
    GetData(){
      this.$store.dispatch('retrieveData')
    },

  },
}
</script>
<style>
.center{
  align-content: center;
}
</style>