<template>
    <div class="admin2">
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">
        <a id="show-sidebar" @click="closeMenu" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item sidebar-brand">
                    <a href="#">keluarga sehat</a>
                    <div id="close-sidebar" @click="closeMenu">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="./images/user.png" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>{{user}}</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-item sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-menu  -->
                <div class=" sidebar-item sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li>
                            <router-link :to="{ name:'dashboard' }">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">Dashboard</span>
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name:'tabel' }">
                                <i class="fa fa-table"></i>
                                <span class="menu-text">Tabel</span>
                            </router-link>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <div class="sidebar-footer">
                <div>
                    <a href="#" @click="signout()">
                        <i class="fa fa-power-off"> Logout</i>
                        <span class="badge-sonar"></span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- page-content  -->
        <main class="page-content pt-2">
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid p-5">
                <div class="row">
                    <div class="form-group col-md-12">
                        <router-view/>
                    </div>
                </div>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->

    </div>
</template>

<script>
export default {
  name: 'admin2',
  data () {
    return {
      
    }
  },
  computed:{
    token(){
        return this.$store.getters.loggedIn
    },
    user(){
        return this.$store.getters.loggedUser
    },
  },
  created(){
    this.$store.dispatch('retrieveUser')
  },
  methods:{
    getuser(){
        this.$store.dispatch('retrieveUser')
    },
    getdata(){
        this.$store.dispatch('retrieveData')
    },
    signout(){
        this.$store.dispatch('destroyToken')
        
        .then(response => {
          this.$router.push({ name: 'login' })
          localStorage.removeItem('access_token')
        })
    },
    closeMenu(){
        $(".page-wrapper").toggleClass("toggled");
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
