<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="./images/img-01.png" alt="IMG">
                </div>
                <form class="login100-form" @submit.prevent="login">
                    <span class="login100-form-title">Member Login</span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="username" v-model="username" placeholder="username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="far fa-envelope" aria-hidden="true"></i></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password" v-model="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-lock" aria-hidden="true"></i></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">Login</button>
                    </div>
                    <div class="text-center p-t-12">
                        <span class="txt1">Forgot</span>
                        <a class="txt2" href="#">Username / Password?</a>
                    </div>
                    <div class="text-center p-t-136">
                        <router-link class="txt2" to="/register">Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </router-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
    }
  },
  computed:{
    
  },
  methods:{
    login(){
        this.$store.dispatch('retrieveToken', {
            username: this.username,
            password: this.password,
        })
        .then(response => {
          this.$router.push({ name: 'admin2' })
        })
        
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
