<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="./images/img-01.png" alt="IMG">
                </div>
                <form class="login100-form" @submit.prevent="register">
                    <span class="login100-form-title">Member Register</span>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="username" v-model="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-user" aria-hidden="true"></i></span>
                    </div>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="email" v-model="email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="far fa-envelope" aria-hidden="true"></i></span>
                    </div>
                    <div class="wrap-input100">
                        <input class="input100" type="password" name="password" v-model="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fas fa-lock" aria-hidden="true"></i></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      username:'',
      email: '',
      password: '',
    }
  },
  methods:{
    register(){
        this.$store.dispatch('retrieveToken', {
            username: this.username,
            email: this.email,
            password: this.password,
        }).then(response => {
          this.$router.push({ name: 'login' })
          Toast.fire({
              type: 'success',
              title: 'Register  successfully'
            })
          })
    }
  }
}
</script>